<form action="/post/create" method="post" enctype="multipart/form-data">
  <label >Tape your message<textarea name="content" cols="30" rows="10"></textarea></label>
  <label >Insert an image<input type="file" name="picPath" ></label>
  <label >Name of image<input type="text" name="picName" ></label>
</form>